<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">CoolBrand</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/shop">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" href="/your-cart">Cart</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedInAsAdmin">
            <a class="nav-link" href="/admin">Admin Panel</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn == false">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" href="/login" (click)="logout()">Log out</a>
        </li>
      </ul>
    </div>
  </nav>
