<section class="container my-5">
    <header class="mb-4">
        <h3>About us</h3>
    </header>
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d807.8905113730663!2d14.471377569543622!3d35.90874048451322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x130e4ff879f425c3%3A0x7b848ad2c8c62cdc!2sCirasa%2C%20San%20%C4%A0wann!5e0!3m2!1sen!2smt!4v1687498179827!5m2!1sen!2smt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1" style="text-align: justify; text-justify: inter-word;">
            <p>We are a small, commercial spinoff of an international brand that wouldn't sell as much with its recent reputation. We were founded in May 2023, though "founded" is used a bit loosely here, as we never registered our business anywhere and we do not pay taxes.</p>
            <br>
            <p>If anyone were to ask us about our vision, we would change our answer depending on who exactly is asking. Do they want us to be a sustainable brand? Sure, why not. Maybe even with a special attention to social rights. Of course! The truth is, people seek to have the brand they wear fight the battles they themselves defect. Us? We just want to sell some clothes.</p>
            <br>
            <p>Our advertisement covers the entire world, yet we only have one store. In Malta. With no shipping. Come here to pick up the items you buy on our website.</p>
            <br>
            <p>Follow us on: <a href="https://github.com/Shyentist" target="_blank" rel="noreferrer">GitHub <i class="bi bi-github"></i></a> <a href="https://mt.linkedin.com/in/pasqualebuonomo" target="_blank" rel="noreferrer"> Linkedin <i class="bi bi-linkedin"></i></a></p>
            <br>
            <p>Address: Emman's Court, Flat 1, Triq Ic-Cirasa, San Gwann, SGN 2751, Malta</p>
        </div>
      </div>
    </div>
</section>